.focused-by-extension.review-comment {
    border: 1px solid #28d !important;
    margin: -1px -1px -1px -1px;
}
.focused-by-extension.review-comment:first-child {
    border-radius: 4px 4px 0 0;
}
.focused-by-extension:last-child {
    margin-bottom: 0;
}

.focused-by-extension.timeline-comment,
.focused-by-extension.timeline-comment.current-user {
    border-color: #28e;
}

.focused-by-extension.timeline-comment::before {
    border-right-color: #28e !important;
}